.App {
  margin-top: 30px;
}

.App Button {
  width: 100%;
  margin-bottom: 20px;
}

.TextField {
  width: 100%;
  margin-bottom: 30px;
}

.error{
  margin-bottom: 10px;
  height: 36px;
}

.box {
  display: contents;
}

.typography {
  text-align: center;
}